h2{
    text-align: center;
    color: blue;
    font-size:xx-large;
}

p{
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: large;
    font-weight: bold;
}

form{
    font-family:'Big Shoulders Stencil Display', cursive;
    font-weight: bold;
} 

#ken{
    color: green;
}
