<h2>Write Your Quotes Here</h2>
<div>
    <form>
        <p>Fill out the form below to add your quote !</p>
        <label for="name">Your Name</label>
        <input type="text" placeholder="Add your name here..." class="form-control" id="name" name="name"><br>
        <label for="Quote-title">Quote-Title</label>
        <input type="text" placeholder=" Quote title here..." class="form-control" id="title" name="title"><br>
        <textarea name="Quote" id="message" cols="70" rows="4" placeholder="Write quote here"></textarea><br>
        <label for="Author">Author's Name</label>
        <input type="text" placeholder="Author's name here..." class="form-control" id="name" name="name"><br>
        <button type="submit" class="btn btn-success btn-block ">SUBMIT QUOTE</button>
    </form>
</div>