<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div *ngFor='let quote of quotes; let i = index'>
                <div class="card text-center">
                    <div class="card-header">
                        Author : {{quote.author}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Quote : {{quote.Description}}</h5>
                        <p class="card-text">Created by : {{quote.user}}</p>
                        <button  class='btn btn-outline-success' (click)='upvote(i)'>Like {{quote.upvote}}</button>
                        <button  class='btn btn-outline-primary' (click)='downvote(i)'>Dislike {{quote.downvote}}</button>
                        <button  class='btn btn-outline-danger' (click)='deleteQuote($event,i)'>Delete Quote</button>
                       

                    </div>
                    <div class="card-footer text-muted">
                        {{quote.day|dateCount}} days ago
                    </div>
                </div>
            </div>


        </div>

        <div class="col-md-6">
            

            <app-forms (addQuote)="addNewQuote($event)"></app-forms>
        </div>
    </div>

</div>