<div class="jumbotron">
<h2>Quote of the day!</h2>
<p>An eye for eye only ends up making the whole world blind.<br>
    Where there is love there is life.<br>
    In a gentle way, you can shake the world.<br>
    Happiness is when what you think, what you say, and what you do are in harmony.<br>
    The weak can never forgive. Forgiveness is the attribute of the strong.<br>
    Hate the sin, love the sinner.<br>
    Action expresses priorities.<br>
    If you don't ask, you don't get it<br>
    The future depends on what we do in the present.<br>
    Strength does not come from physical capacity. It comes from an indomitable will.
</p>
<p>Mahatma Gandhi</p>
</div>